/* Promo section */

.promo__wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.promo__img {
    flex: 1;

    @include tablet2 {
        flex: unset;
    }

    img {
        @include tablet2 {
            height: 239px;
            flex-shrink: 0;
            background-image: url("./../img/promo/tablet2.jpg");

            @include mediaBG {
                background-image: url("./../img/promo/tablet2@2x.jpg");
            }
        }
    }

    @include mobile {
        display: none;
    }
}

.promo__content {
    flex: 1;

    @include tablet2 {
        max-width: 285px;
        flex: unset;
    }

    @include mobile {
        max-width: 100%;
    }
}

.title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.1;
    color: #2c2d35;

    @include tablet1 {
        font-size: 40px;
        line-height: 1;
    }

    @include tablet2 {
        font-size: 34px;
    }

    @include mobile {
        font-size: 30px;
    }
}

.promo__title {
    
    span {
        color: #598D66;
    }

    @include tablet2 {
        margin-bottom: 10px;
    }

    @include mobile {
        margin-bottom: 20px;
    }
}

.promo__text {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.5;
    color: #86928b;

    @include tablet1 {
        margin-bottom: 40px;
    }

    @include tablet2 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    @include mobile {
        margin-bottom: 40px;
        font-size: 14px;
    }
}

