/* Cards section */

.products {
    @include scrollTopMargin;
}

.products__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include tablet2 {
        row-gap: 20px;
    }
}

.products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet2 {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 20px;
    }
}

.products__title {
    font-size: 40px;
    line-height: 1.1;
    color: #2c2d35;

    @include tablet1 {
        font-size: 30px;
    }

    @include tablet2 {
        font-size: 24px;
    }

}

.products__btns {
    display: inline-block;
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include mobile {
        width: 100%;
        row-gap: 10px;
        flex-direction: column;
        align-items: unset;
    }

    button {
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid transparent;
        background-color: #d4e8d9;

        font-size: 20px;
        color: #2c2d35;

        transition: background-color .2s ease-in, color .2s ease-in;

        &.active {
            background-color: #376b44;
            color: #f4f6f5;
        }

        &:hover {
            background-color: #598d66;
            color: #f4f6f5;
        }

        &:focus {
            border: 2px solid #598d66;
            color: #2c2d35;
            background-color: #d4e8d9;
        }

        &:active {
            background-color: #376b44;
            color: #f4f6f5;
        }

        @include mobile {
            font-size: 18px;
        }
    }
}
